<!DOCTYPE html>
<html xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TuttiLibri</title>
</head>
<body>
<h1><b>Elenco di tutti i libri</b></h1>
<table>
    <tr>
        <td><b>Titolo</b></td>
        <td><b>Autore</b></td>
        <td><b>Prezzo</b></td>
        <td><b>Utente</b></td>
    </tr>
    <th:block th:each="libro : ${libri}">
        <tr>
            <td th:text="${libro.titolo}"></td>
            <td th:text="${libro.autore}"></td>
            <td th:text="${libro.prezzo} + '€'"></td>
            <td th:text="${libro.utente.username}"></td>
            <td><a th:href="@{'/libri/dettaglio/' + ${libro.getId()}}">Dettaglio</a></td>
        </tr>
    </th:block>
</table>
</body>
</html>